## Deliverable 2. Create a Customer Travel Destinations Map.

In [36]:
# Dependencies and Setup
import pandas as pd
import requests

# Import API key
from config import g_key
import gmaps

In [37]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [38]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,35.71,69,0,13.80,clear sky,CL,2022-05-28 02:43:21
1,1,Nuuk,64.1835,-51.7216,30.81,93,100,13.80,overcast clouds,GL,2022-05-28 02:41:06
2,2,Mataura,-46.1927,168.8643,55.47,66,16,5.86,few clouds,NZ,2022-05-28 02:43:22
3,3,Hilo,19.7297,-155.0900,78.28,84,100,11.50,heavy intensity rain,US,2022-05-28 02:43:11
4,4,Esperance,-33.8667,121.9000,64.54,44,8,15.28,clear sky,AU,2022-05-28 02:43:23

In [39]:
city_data_df["Max Temp"]

0      35.71
1      30.81
2      55.47
3      78.28
4      64.54
       ...
699    85.30
700    52.43
701    53.02
702    36.68
703    48.72
Name: Max Temp, Length: 704, dtype: float64

In [40]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [41]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)& \
                                       (city_data_df["Max Temp"] >= min_temp)] 
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
3,3,Hilo,19.7297,-155.0900,78.28,84,100,11.50,heavy intensity rain,US,2022-05-28 02:43:11
5,5,Georgetown,5.4112,100.3354,89.53,78,20,5.01,few clouds,MY,2022-05-28 02:43:23
7,7,Kahului,20.8947,-156.4700,82.42,63,100,21.85,overcast clouds,US,2022-05-28 02:43:24
13,13,Warri,5.5167,5.7500,73.08,95,94,3.91,overcast clouds,NG,2022-05-28 02:43:27
15,15,Karratha,-20.7377,116.8463,82.33,62,94,10.51,moderate rain,AU,2022-05-28 02:43:27

In [42]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        310
City           310
Lat            310
Lng            310
Max Temp       310
Humidity       310
Cloudiness     310
Wind Speed     310
Description    310
Country        310
Date           310
dtype: int64

In [47]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [49]:
clean_df.count()

City_ID        310
City           310
Lat            310
Lng            310
Max Temp       310
Humidity       310
Cloudiness     310
Wind Speed     310
Description    310
Country        310
Date           310
dtype: int64

In [51]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Hilo,US,78.28,heavy intensity rain,19.7297,-155.0900,
5,Georgetown,MY,89.53,few clouds,5.4112,100.3354,
7,Kahului,US,82.42,overcast clouds,20.8947,-156.4700,
13,Warri,NG,73.08,overcast clouds,5.5167,5.7500,
15,Karratha,AU,82.33,moderate rain,-20.7377,116.8463,
16,Isangel,VU,81.18,overcast clouds,-19.5500,169.2667,
18,Vaini,TO,82.56,broken clouds,-21.2000,-175.2000,
24,Hobyo,SO,79.09,broken clouds,5.3505,48.5268,
32,Kapaa,US,80.58,few clouds,22.0752,-159.3190,
34,Rikitea,PF,76.96,few clouds,-23.1203,-134.9692,

In [53]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [57]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

len(hotels["results"])

20

In [64]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [86]:
import numpy as np

# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.replace("", np.nan).dropna()
clean_hotel_df.nunique()

City           288
Country         77
Max Temp       245
Description     10
Lat            287
Lng            288
Hotel Name     288
dtype: int64

In [87]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure