## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests

# Import API key
from config import g_key
import gmaps

In [17]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [18]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,35.71,69,0,13.80,clear sky,CL,2022-05-28 02:43:21
1,1,Nuuk,64.1835,-51.7216,30.81,93,100,13.80,overcast clouds,GL,2022-05-28 02:41:06
2,2,Mataura,-46.1927,168.8643,55.47,66,16,5.86,few clouds,NZ,2022-05-28 02:43:22
3,3,Hilo,19.7297,-155.0900,78.28,84,100,11.50,heavy intensity rain,US,2022-05-28 02:43:11
4,4,Esperance,-33.8667,121.9000,64.54,44,8,15.28,clear sky,AU,2022-05-28 02:43:23

In [19]:
city_data_df["Max Temp"]

0      35.71
1      30.81
2      55.47
3      78.28
4      64.54
       ...
699    85.30
700    52.43
701    53.02
702    36.68
703    48.72
Name: Max Temp, Length: 704, dtype: float64

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the maximum temperature you would like for your trip? 100

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) ] 
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,35.71,69,0,13.80,clear sky,CL,2022-05-28 02:43:21
1,1,Nuuk,64.1835,-51.7216,30.81,93,100,13.80,overcast clouds,GL,2022-05-28 02:41:06
2,2,Mataura,-46.1927,168.8643,55.47,66,16,5.86,few clouds,NZ,2022-05-28 02:43:22
3,3,Hilo,19.7297,-155.0900,78.28,84,100,11.50,heavy intensity rain,US,2022-05-28 02:43:11
4,4,Esperance,-33.8667,121.9000,64.54,44,8,15.28,clear sky,AU,2022-05-28 02:43:23

In [22]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        703
City           703
Lat            703
Lng            703
Max Temp       703
Humidity       703
Cloudiness     703
Wind Speed     703
Description    703
Country        698
Date           703
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

NameError: name 'clean_df' is not defined

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure